/* line 5, ../sass/screen.sass */
* {
  border: none;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/screen.sass */
html {
  height: 100%;
}

/* line 16, ../sass/screen.sass */
body {
  font: 500 14px/16px "Arial", sans-serif;
  color: #c8c8c8;
  text-shadow: 0 -1px 0px black;
  height: 100%;
}

/* line 22, ../sass/screen.sass */
#logo {
  display: inline-block;
  color: #28b4dc;
  font-weight: 100;
  font: 100 24px/60px "Arial", sans-serif;
  vertical-align: top;
  margin: 0 20px 0 20px;
  text-shadow: 0 -1px 0px black;
  cursor: pointer;
}
/* line 31, ../sass/screen.sass */
#logo img {
  margin-left: 5px;
  height: 20px;
  width: 30px;
}

/* line 36, ../sass/screen.sass */
h3 {
  margin: 20px 0 5px 0;
}

/* line 40, ../sass/screen.sass */
#wrapper {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  background: #323232;
  box-shadow: 0px 0px 10px black;
}

/* line 47, ../sass/screen.sass */
pre {
  white-space: wrap;
}

/* line 50, ../sass/screen.sass */
#nav {
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #1e1e1e));
  background-image: -webkit-linear-gradient(#505050, #1e1e1e);
  background-image: -moz-linear-gradient(#505050, #1e1e1e);
  background-image: -o-linear-gradient(#505050, #1e1e1e);
  background-image: -ms-linear-gradient(#505050, #1e1e1e);
  background-image: linear-gradient(#505050, #1e1e1e);
  border-bottom: 1px solid black;
}
/* line 54, ../sass/screen.sass */
#nav input[type="search"] {
  -webkit-appearance: textfield;
  display: inline-block;
  vertical-align: middle;
  float: right;
  font: 500 16px/28px "Arial", sans-serif;
  width: 200px;
  border-radius: 15px;
  box-shadow: inset 1px 1px 1px black;
  margin: 6px 20px 0 0;
}

/* line 66, ../sass/screen.sass */
#c1,
#c2,
#c3,
#c4 {
  display: inline-block;
  vertical-align: top;
  height: 90%;
  border-left: 1px solid black;
  overflow-y: auto;
}

/* line 77, ../sass/screen.sass */
#c1 {
  border-left: none;
  text-align: center;
  width: 15%;
}
/* line 81, ../sass/screen.sass */
#c1 > button {
  color: white;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  text-align: left;
  width: 100%;
  line-height: 40px;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #505050;
  border-top: 1px solid #1e1e1e;
  cursor: pointer;
  text-shadow: 0 -1px 0 black;
  background-color: rgba(230, 230, 230, 0);
}
/* line 95, ../sass/screen.sass */
#c1 > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 97, ../sass/screen.sass */
#c1 > button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 100, ../sass/screen.sass */
#c2,
#c3 {
  padding: 10px 0 0 0;
  width: 15%;
}
/* line 104, ../sass/screen.sass */
#c2 a,
#c3 a {
  cursor: pointer;
  display: block;
  padding: 2px 20px;
}
/* line 108, ../sass/screen.sass */
#c2 a:hover,
#c3 a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
}
/* line 111, ../sass/screen.sass */
#c2 .highlight,
#c3 .highlight {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 114, ../sass/screen.sass */
#c4 {
  padding: 30px;
  width: 55%;
}
/* line 117, ../sass/screen.sass */
#c4 img {
  margin: 0 20px 20px 0;
  width: 80px;
  height: 80px;
  display: inline-block;
}
/* line 122, ../sass/screen.sass */
#c4 nav {
  display: inline-block;
  vertical-align: top;
}
/* line 125, ../sass/screen.sass */
#c4 button {
  display: block;
  float: right;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 4px;
}

/* line 134, ../sass/screen.sass */
#controls {
  display: inline-block;
  width: 800px;
  line-height: 60px;
}
/* line 138, ../sass/screen.sass */
#controls button {
  background: transparent;
  color: #b4b4b4;
  text-shadow: 0px -1px 0 black;
}
/* line 142, ../sass/screen.sass */
#controls button:hover {
  color: #28b4dc;
}
/* line 144, ../sass/screen.sass */
#controls button:active {
  color: #2090b0;
}

/* line 147, ../sass/screen.sass */
#queue {
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
/* line 152, ../sass/screen.sass */
#queue:before {
  content: "\2630";
  position: relative;
  bottom: 2px;
}

/* line 158, ../sass/screen.sass */
#play {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 16px;
}
/* line 165, ../sass/screen.sass */
#play.playing:before {
  content: "\2759\2759";
  position: relative;
  bottom: 2px;
}
/* line 169, ../sass/screen.sass */
#play.paused:before {
  content: "\25B6";
  position: relative;
  left: 2px;
}

/* line 174, ../sass/screen.sass */
#previous,
#next {
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 14px;
}

/* line 182, ../sass/screen.sass */
#previous:before,
#next:before {
  letter-spacing: -5px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

/* line 188, ../sass/screen.sass */
#next:before {
  content: "\25B6\25B6";
}

/* line 190, ../sass/screen.sass */
#previous:before {
  content: "\25C0\25C0";
}

/* line 193, ../sass/screen.sass */
#progress,
#volume {
  margin: 0 4px;
  vertical-align: middle;
}

/* line 198, ../sass/screen.sass */
.inputBar {
  display: inline-block;
  width: 300px;
  height: 8px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #28b4dc), color-stop(100%, #14788c));
  background-image: -webkit-linear-gradient(#28b4dc, #14788c);
  background-image: -moz-linear-gradient(#28b4dc, #14788c);
  background-image: -o-linear-gradient(#28b4dc, #14788c);
  background-image: -ms-linear-gradient(#28b4dc, #14788c);
  background-image: linear-gradient(#28b4dc, #14788c);
  -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.2), 0px -1px black;
  -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.2), 0px -1px black;
  -o-box-shadow: 0px 1px rgba(255, 255, 255, 0.2), 0px -1px black;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.2), 0px -1px black;
}
/* line 205, ../sass/screen.sass */
.inputBar .handler {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #14505a), color-stop(100%, #143228));
  background-image: -webkit-linear-gradient(#14505a, #143228);
  background-image: -moz-linear-gradient(#14505a, #143228);
  background-image: -o-linear-gradient(#14505a, #143228);
  background-image: -ms-linear-gradient(#14505a, #143228);
  background-image: linear-gradient(#14505a, #143228);
}

/* line 212, ../sass/screen.sass */
#progress {
  width: 60%;
  vertical-align: middle;
}

/* line 216, ../sass/screen.sass */
#volume {
  width: 120px;
  vertical-align: middle;
}

/* line 220, ../sass/screen.sass */
#time,
#duration {
  vertical-align: middle;
}

/* line 224, ../sass/screen.sass */
#loud,
#mute {
  height: 18px;
  width: 18px;
  border-radius: 10px;
  vertical-align: middle;
}

/* line 231, ../sass/screen.sass */
#bio,
#lyrics {
  font-family: "Times New Roman", serif;
  font-size: 14px;
}

/* line 236, ../sass/screen.sass */
#heading {
  margin: 0 0 10px 0;
}

/* line 240, ../sass/screen.sass */
#songs a {
  display: block;
  border: 1px solid #c8c8c8;
  padding: 4px 10px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
}

/* line 247, ../sass/screen.sass */
#interprets:before {
  content: "\265D";
  margin-right: 5px;
}

/* line 251, ../sass/screen.sass */
#charts:before {
  content: "\2605";
  margin-right: 5px;
}

/* line 255, ../sass/screen.sass */
#songs:before {
  content: "\266B";
  margin-right: 5px;
}

/* line 259, ../sass/screen.sass */
#playlists:before {
  content: "\2665";
  margin-right: 5px;
}

@media all and (max-width: 480px) {
  /* line 265, ../sass/screen.sass */
  #wrapper {
    width: 100%;
    height: 200%;
  }

  /* line 269, ../sass/screen.sass */
  #c1,
  #c2,
  #c3,
  #c4 {
    width: 100%;
    display: block;
  }

  /* line 275, ../sass/screen.sass */
  #c1 {
    height: 30%;
    width: 100%;
  }

  /* line 278, ../sass/screen.sass */
  #c2 {
    height: 30%;
    width: 80%;
  }

  /* line 282, ../sass/screen.sass */
  #c3 {
    width: 20%;
  }

  /* line 284, ../sass/screen.sass */
  #c4 {
    width: 80%;
    height: 30%;
  }
}
